Package: openconnectutils
Version: 1.0-1
Section: base
Priority: optional
Architecture: amd64
Depends: openconnect (>= 7.06-2build2), network-manager-openconnect (>= 1.2.0-0ubuntu0), network-manager-openconnect-gnome (>= 1.2.0-0ubuntu0.16.04.1)
Maintainer: Stian Brattland <stian@octetnest.no>
Installed-Size: 7728
Description: This package provides functionality to connect to a Cisco AnyConnect VPN endpoint.
